main {
    margin: auto;
    align-self: center;


}

body {
    background-color: #949396;
    margin: 0 auto;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

/*Header*/
header {
    text-align: center;
    width: 100%;    
    border-bottom: 1px solid #4C4B63;
    background-color: #4C4B63;
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 13px;
    padding-top: 10px;

}
.profile-image {
    width: 200px;
    text-align: center;
    border-radius: 23px;
    border: 3px solid #333;

}
.profile-image:hover {
    transform: scale(1.7);
}

/*Nav with responsive design*/
ul.nav {
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4C4B63;
    display: flex;

}
ul.nav li {
    float: left;
    border-right: 1px solid #bababb;
    border-top: 1px solid #bababb;

}
ul.nav li:last-child {
    border-right: none;

}
ul.nav li a {
    display: block;
    color: #BCBDC0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
ul.nav li a.active {
background-color: #4C4B63;

}
ul.nav li.right {
    float: right;

}
@media screen and (max-width: 600px) {
  ul.nav li.right, 
  ul.nav li {float: none;}
}

/*Main*/
.paragraph {
    text-align: center;

}

.cv-section h2 {
    text-align: center;

}
.cv-section2 h2 {
    text-align: center;

}

.cv-section2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px;
    align-items: flex-start

}

.skills-title {
    flex-basis: 100%;
    margin: 0 0 6px 0;
}

.pill {
    font-size: 13px;
    margin: 0;
    background-color: rgb(226, 226, 226);
    padding: .5rem .9rem;
    border-radius: 999px;
    border: 1px solid rgba(0, 0, 0, .12);
    width: fit-content;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer {
    position: sticky;
    top: 100vh;

}


#container {
    display: grid;
    align-items: top;
    justify-items: center;
    border: 3px solid #4C4B63;
    gap: 10px;
    padding: 10px;

    grid-template-rows: auto ;
    grid-template-columns: 400px auto ;
    grid-template-areas: 
    "header header header "
    "main1 main1 sidebar" 
    "main2 main2 sidebar" 
    "footer footer footer";
}

.header {
    grid-area: header;
    justify-items: center;
}
.main1 {
    grid-area: main1;
    background-color: #bababb;
    padding: 10px;
    border-radius: 13px;
    border: 2px solid #63625d;

}
.main2 {
    grid-area: main2;
    background-color: #bababb;
    padding: 10px;
    border-radius: 13px;
    border: 2px solid #63625d;


}
.sidebar {
    grid-area: sidebar;
    background-color: #bababb;
    padding: 10px;
    border-radius: 13px;
    border: 2px solid #63625d;
    height: 480px;

}
.footer {
    grid-area: footer;

}

