body {
    background-color: #949396;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}

/*MQ*/
#container {
    display: grid;
    gap: 16px;
    padding: 16px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "img"
    "paragraph"
    "footer";
}

.header {grid-area: header;}
.nav {grid-area: nav;}
.img {
    grid-area: img;
    width: 100%;
    height: auto;
    display: block;}
.paragraph {grid-area: paragraph;}
.footer {grid-area: footer;}

.nav {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    #container {
        grid-template-columns: minmax (0,2fr) 1fr;
        grid-template-areas: 
        "header header"
        "nav nav"
        "paragraph img"
        "footer footer";
        align-items: start;
    }
}
@media (min-width: 1024px) {
    #container {
        gap: 24px;
        padding: 24px;
        }
}
@media (min-width: 1280px) {
    #container {
        max-width: 1200px;
        margin: 0 auto;
        gap: 32px;
        }
}

/*Header*/
header {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #4C4B63;
    background-color: #4C4B63;
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;

}


/*Nav with responsive design*/
.nav{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.nav-left,
.nav-right {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.nav-btn {
    display: inline-block;
    padding: 10px 14px;
    background-color: #4C4B63;
    color: #BCBDC0;
    text-decoration: none;
    line-height: 1;
}
@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.nav-left {justify-content: flex-start;}
.nav-right {justify-content: flex-end;}

/*Homepage*/
.img {
    width: 200px;
    margin: 0 auto;
    object-fit: cover;
}
.paragraph {
    margin: 0 auto;

}
h2 {
    text-align: center;

}

/*CV*/
.cv-section h2 {
    text-align: center;

}
.cv-section {    
    width: 100%;
    gap: 4px 4px;

}
.skills {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px;
    align-items: flex-start

}
.skills-title {
    text-align: center;
    flex-basis: 100%;
    margin: 0 0 6px 0;
}

.pill {
    font-size: 13px;
    margin: 0;
    background-color: rgb(226, 226, 226);
    padding: .5rem .9rem;
    border-radius: 999px;
    border: 1px solid rgba(0, 0, 0, .12);
    width: fit-content;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*Contact*/


/*Footer*/
footer {
    position: sticky;
    text-align: center;
    top: 100vh;

}
