body {
    background-color: #949396;
    font-family: Arial, Helvetica, sans-serif;

}

/*MQ*/
#container {
    display: block;
    margin: 20px auto;
    justify-content: center;

}
@media screen and (min-width: 768px) {
    #container {
        width: fit-content;
    }
}
@media screen and (min-width: 769px) and (max-width: 960px) {
    #container {
        width: fit-content;
    }
}
@media screen and (min-width: 961px) and (max-width: 1200px) {
    #container {
        width: fit-content;        
    }
}
@media screen and (min-width: 1201px) {
    #container {
        width: fit-content;        
    }
}


/*Header*/
header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #4C4B63;
    background-color: #4C4B63;
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;

}
.profile-image {
    width: 200px;
    text-align: center;
    border-radius: 23px;
    border: 3px solid #333;

}
.profile-image:hover {
    transform: scale(1.7);
}

/*Nav with responsive design*/
ul {
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4C4B63;
    display: flex;
    border-top: 1px solid #BCBDC0;

}
ul li {
    float: left;

}
ul li a {
    display: block;
    color: #BCBDC0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
ul li a:active {
background-color: #4C4B63;

}
ul li.rightbutton {
    float: right;

}
@media screen and (max-width: 600px) {
  ul li.right, 
  ul li {float: none;}
}

/*Homepage*/
.paragraph {
    text-align: center;

}

/*CV*/
.cv-section h2 {
    text-align: center;

}
.cv-section {    
    width: 100%;
    gap: 4px 4px;

}
.skills {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px;
    align-items: flex-start

}
.skills-title {
    text-align: center;
    flex-basis: 100%;
    margin: 0 0 6px 0;
}

.pill {
    font-size: 13px;
    margin: 0;
    background-color: rgb(226, 226, 226);
    padding: .5rem .9rem;
    border-radius: 999px;
    border: 1px solid rgba(0, 0, 0, .12);
    width: fit-content;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*Contact*/


/*Footer*/
footer {
    position: sticky;
    text-align: center;
    top: 100vh;

}
